.body {
    font-family: 'Times New Roman';
}

.lyrics-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.lyrics-section-header {
    display: block;
    color: black;
}

.lyric-box {
    width: 100px;
    height: 25px;
    border: black 1px;
}

.lyric-box-unfilled {
    background-color: orange;
    font-size: 0px;
}

.lyric-box-filled {
    background-color: aliceblue;
    font-size: 17px;
}

.lyric-box-revealed {
    background-color: greenyellow;
    font-size: 17px;
}

.lyric-box-giveup {
    background-color: #ed685f;
    font-size: 17px;
}

#header {
    background-color: lightblue;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    flex-basis: auto;
}

